@tailwind base;
@tailwind components;
@tailwind utilities;

.animate-scale {
    animation: scale 400ms 1;
}

@keyframes scale {
    0% {
        scale: 1;
    }
    50% {
        scale: 0.95;
    }
    100% {
        scale: 1;
    }
}